<h2 mat-dialog-title>{{ quizCategory }} quiz options</h2>
<mat-dialog-content class="mat-typography">
  <div>
    <label>Difficulty: </label>
    <label>{{ difficulty }}</label>
  </div>
  <mat-slider
    tickInterval="1"
    step="1"
    min="1"
    max="3"
    (input)="saveDifficulty($event)"
  ></mat-slider>
  <div>
    <label>Number of questions: </label>
    <label>{{ questionsAmount }}</label>
  </div>
  <mat-slider
    tickInterval="1"
    step="1"
    min="1"
    [max]="setMaxNumberOfQuestions()"
    (input)="saveQuestionsAmount($event)"
  ></mat-slider>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <nav>
    <button
      mat-button
      [mat-dialog-close]="true"
      cdkFocusInitial
      routerLink="/quiz"
      (click)="saveQuizCategory()"
    >
      Start quiz
    </button>
  </nav>
</mat-dialog-actions>
