<div class="quiz-content">
  <h3>{{ quiz.category }}</h3>
  <div class="image-container">
    <img [src]="quiz.imageUrl" [alt]="quiz.category" />
    <div class="middle">
      <button mat-button (click)="openDialog()">Start quiz</button>
    </div>
  </div>

  <div>
    <span>
      <div *ngIf="quiz.favorite; else notFavorite">
        <button
          (click)="onFavoriteClicked()"
          mat-icon-button
          color="warn"
          aria-label="Heart icon"
        >
          <mat-icon>favorite</mat-icon>
        </button>
      </div>
    </span>
  </div>
</div>

<ng-template #notFavorite>
  <div (click)="onFavoriteClicked()">
    <button mat-icon-button color="warn" aria-label="Heart icon">
      <mat-icon>favorite_border</mat-icon>
    </button>
  </div>
</ng-template>
