@import "../../importable/colors.scss";

.quiz-content {
  padding: 1rem;
}

.image-container {
  position: relative;
  width: 100%;
}

img {
  border-radius: 1rem;
  height: auto;
  width: 100%;
  transition: 0.5s ease;
  aspect-ratio: 16/9;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.quiz-buttons {
  display: flex;
}

.comments-button {
  color: $blue;
}

.image-container:hover img {
  opacity: 0.3;
}

.image-container:hover .middle {
  opacity: 1;
}

h3 {
  display: flex;
  justify-content: center;
}
