mat-toolbar {
  background: lightblue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding-top: 1rem;
  gap: 1rem;
}

.title {
  font-style: bold;
  user-select: none;
}
