<div class="search-bar__container">
  <mat-form-field class="search-bar__full-width">
    <input
      matInput
      type="text"
      placeholder="Search"
      name="search"
      [formControl]="searchForm"
    />
    <button matSuffix mat-icon-button (click)="clearFilter()">
      <mat-icon>close</mat-icon>
    </button>
    <button matSuffix mat-icon-button (click)="filterQuizes()">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
</div>

<div *ngIf="filteredQuizData.length > 0; else notFilteredQuizes">
  <div class="wrapper">
    <div class="element" *ngFor="let quiz of filteredQuizData">
      <app-quiz (quizEvent)="addFavorite($event)" [quiz]="quiz"></app-quiz>
    </div>
  </div>
</div>

<ng-template #notFilteredQuizes>
  <div class="wrapper">
    <div class="element" *ngFor="let quiz of quizData">
      <app-quiz (quizEvent)="addFavorite($event)" [quiz]="quiz"></app-quiz>
    </div>
  </div>
</ng-template>
